@media screen and (min-width: 320px) and (max-width: 374px) {
  #page_menu main figure {
    top: -180px;
  }
  #page_menu .menu__container {
    margin-top: 180px;
  }
  #page_menu .menu__titre .hearts__menu i {
    right: -40px;
  }
  #page_menu .menu__section article:hover .menu__textes {
    width: 160px;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    margin: auto;
  }
  .main__part_2 h2 {
    margin-left: 40px;
  }
  #restaurants h2 {
    margin-left: 40px;
  }
  #restaurants .article_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  #page_menu main figure {
    top: -260px;
  }
  #page_menu .menu__container {
    margin-top: 260px;
  }
  #page_menu .menu__section article {
    max-width: none;
  }
  footer .footer__liste h3 {
    margin-left: 30px;
  }
  footer .footer__liste ul {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    margin-left: 30px;
  }
  footer .footer__liste ul li:nth-child(3),
  footer .footer__liste ul li:nth-child(4) {
    margin-left: 23px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1920px) {
  body {
    margin: auto;
  }
  .main__search_bar {
    width: 500px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .main__sections {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .main__part_2 {
    margin-bottom: 50px;
  }
  .main__part_2 h2 {
    text-align: center;
  }
  .main__part_2 li {
    width: 350px;
    margin: auto;
  }
  aside {
    margin-top: 0px;
  }
  #restaurants {
    background-color: #EAEAEA;
    padding-bottom: 40px;
  }
  #restaurants h2 {
    text-align: center;
    margin-bottom: 50px;
    background-color: #F6F6F6;
    width: 200px;
    border-radius: 20px;
    padding: 15px 0px;
    margin: 30px auto 40px auto;
  }
  #restaurants div article:nth-child(odd) {
    margin-left: 200px;
  }
  #restaurants div article:nth-child(even) {
    margin-right: 200px;
  }
  #restaurants .article_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  #page_menu {
    margin: auto;
    /* anim apparition menus */
  }
  #page_menu .menu__section_grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  #page_menu main figure {
    top: -260px;
  }
  #page_menu main figure img {
    max-height: 1100px;
  }
  #page_menu main .menu__container {
    border-radius: 35px;
  }
  #page_menu main .menu {
    margin: 0px 2% 0 2%;
  }
  #page_menu main .menu__titre {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #page_menu main .menu__section article {
    max-width: 330px;
  }
  #page_menu main .menu__section article:hover .menu__textes {
    width: 190px;
  }
  #page_menu .menu__container {
    margin: 5%;
  }
  #page_menu .anim_delay_1 {
    -webkit-animation-delay: 125ms;
            animation-delay: 125ms;
  }
  #page_menu .anim_delay_2 {
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  #page_menu .anim_delay_3 {
    -webkit-animation-delay: 375ms;
            animation-delay: 375ms;
  }
  #page_menu .anim_delay_4 {
    -webkit-animation-delay: 125ms;
            animation-delay: 125ms;
  }
  #page_menu .anim_delay_5 {
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  #page_menu .anim_delay_6 {
    -webkit-animation-delay: 375ms;
            animation-delay: 375ms;
  }
  #page_menu .anim_delay_7 {
    -webkit-animation-delay: 125ms;
            animation-delay: 125ms;
  }
  #page_menu .anim_delay_8 {
    -webkit-animation-delay: 250ms;
            animation-delay: 250ms;
  }
  #page_menu .anim_delay_9 {
    -webkit-animation-delay: 375ms;
            animation-delay: 375ms;
  }
  #page_menu .anim_delay_spe {
    -webkit-animation-delay: 500ms;
            animation-delay: 500ms;
  }
  footer .footer__liste ul {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=responsive.css.map */