/* @import "./_mixins"; */
@import "scss/_placeholders";
@import "scss/_variables";

*{
  @extend %reset;
}
body{
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  max-width: 480px;
  text-align: center;
}
//loader
.loader{
  background: linear-gradient(45deg, $coul_ter, $coul_second);
  position: absolute;
  // inset: 0px;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: .9s opacite_loader 2s ease-out forwards ;
}
/* animation opacite loader */
@keyframes opacite_loader{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#load_circle_1{
  background: transparent;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: solid 10px transparent;
  border-left-color: $coul_ter;
  border-right-color: $coul_ter;
  @extend %center_circle;
  animation: rotation 3s linear infinite;
}
#load_circle_2{
  background-image: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  @extend %center_circle;
  animation: scale 3s linear infinite;
  span{
    font-family: $font_spe;
    font-size: 50px;
    line-height: 100px;
  }
}
/* animation rotation anneau loader */
@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(360deg);
  }
}
@keyframes scale{
  0%{
    transform: scale(100%);
  }
  25%{
    transform: scale(110%);
  }
  50%{
    transform: scale(100%);
  }
  75%{
    transform: scale(110%);
  }
  100%{
    transform: scale(100%);
  }
}

// header
header{
  position: relative;
  @extend %flex_center;
  margin: 23px 0px 12px 0px;
  /* fleche non visible dans page accueil */
  .header__arrow_icon{
    color: $coul_txt;
    position: absolute;
    left: 0px;
    padding: 22px;
    display: none;
    i{
      font-size: 20px;
      color: $coul_txt;
    }
  }
  .header__logo{
    img{
      width: 90%;
    }
  }
}
// main
.main__search_bar{
  @extend %flex_center;
  background-image: linear-gradient(to bottom,$noir_transp, $bg_gris_1 15%,$bg_gris_1);
  padding: 15px 0px 10px 0px;
  i{
    color: $coul_txt;
    font-size: 18px; 
    transform: translateY(-2px);
    padding-left: 45px;
  }
  input{
    justify-items: start;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: $coul_txt;
    padding: 10px 0px;
    padding-left: 15px;
    background-color: $bg_gris_1;
  }
  ::placeholder{
    color: $coul_txt;
    font-family: inherit;    
  }
}
.main__part_1{
  background-color: $bg_gris_2;
  padding: 20px 0px 80px 0px;
  h1{
    padding-top: 28px;
    font-size: 24px;
    font-weight: 700;
  }
  h2{
    font-size: 18px;
    margin: 22px 0px 45px 0px;
  }
}
.button{
  position: relative;
  a{
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: fit-content;
    margin: auto;
    padding: 15px 22px;
    background: linear-gradient(180deg, $coul_second,$coul_prim);
    border-radius: 30px;
    @extend %shadow;
    transition: all .25s ease-in-out;
    &:hover{
      @extend %hover__shadow;
      background: linear-gradient(180deg, #FF8DE0,#A36FE1);
    }
  }
}
/* partie fonctionnement */
.main__part_2{
  width: 100%;
  h2{
    @extend %article__titres;
  }
  ul{
    padding-left: 10px;
  }
  li{
    a{
      display: grid;
      grid-template-columns: 73px 1fr;
      align-items: center;
      background-color: $bg_gris_2;
      border-radius: 20px;
      position: relative;
      margin: 0px 5% 20px 5%;
      @extend %shadow;
      transition: all .25s ease-in-out;
      /* hover liste fonctionnement shadow + couleur */
      &:hover {
        background-color: $coul_hover_1;
        @extend %hover__shadow;
      }*/* changement couleur icon */
      &:hover .menu__icon{
        color: $coul_prim;
      }
    }
    h3{
      color: #000;
      font-weight: 500;
      text-align: start;
      padding: 30px 0px 24px 0px;
    }
  }
}
.menu__num_circle{
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  background-color: $coul_prim;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  position: absolute;
  left: -12px;
  bottom: 23px;
}
.menu__icon{
  color: $coul_icon;
  font-size: 18px;
  margin: 7px 0px 0px 10px;
}
// aside
aside{
  margin-top: 70PX;
}
#restaurants{
  background-color: $bg_gris_2;
  @extend %grid;
  padding: 10px 0px 60px 0px;
  h2{
    @extend %article__titres;
  }
}
.resto__article{
  @extend %article__accueil;
  @extend %shadow;
  display: grid;
  grid-template-rows: 70% 30%;
}
.resto__img{
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  position: relative;
  object-fit: none;
  object-position: 20px 30% ;
  
  img{
    @extend %resto__img;
  }
}
.resto__img_spe{
  img{
    top: -100px;
  }
}
/* carre vert "Nouveau" */
.label_new{
  background-color: $coul_green_1;
  height: 30px;
  width: 80px;
  color: $txt_green_1;
  font-weight: 500;
  line-height: 30px;
  padding: 0px 5px;
  position: absolute;
  right: 15px;
  top: 15px;
  @extend %shadow;
}
.resto__txt{
  display: grid;
  grid-template-columns: 80% 20%;
  text-align: start;
  margin: 15px 0px 0px 15px;
  
  h3{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
}
.hearts{
  position: relative;
  i{
    font-size: 26px;
    position: absolute;
    top: 7px;
    right: 39px;
  }
  .heart__hover{    
    background: linear-gradient(10deg, #FF8DE0,#A36FE1 70%);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    &:hover{
      animation: opacity_heart_gradient .5s ease-in forwards;
    }
  }
}
/* animation hover coeur degrade */
@keyframes opacity_heart_gradient{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
// Footer
footer{
  text-align: start;
  background-color: $coul_txt;
  bottom: 0;
  color: #FFF;
  h3{
    font-family: $font-spe;
    font-size: 18px ;
    margin-bottom: 20px;
  }
  .footer__liste{
    margin: 0px 5%;
    padding: 25px 0px;
  }
  li{
    margin-bottom: 10px;
  }
  a{
    color: #FFF;
    i{
      font-size: 12px;
      margin-right: 10px;
    }
  }
  .fa-hands-helping{
    font-size: 10px;
    margin-right: 7px;
  }
}
