/* @import "./_mixins"; */
* html, * body, * div, * span, * object,
* h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote,
* a, * address, * cite, * code,
* del, * dfn, * em, * img, * q,
* b, * u, * i, * dl, * dt, * dd, * ol, * ul, * li,
* fieldset, * form, * label,
* table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td,
* article, * aside,
* figure, * figcaption, * footer, * header, * menu, * nav, * output, * section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* li {
  list-style: none;
}

header, .main__search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button p, .main__part_2 li a {
  -webkit-box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 8px -2px rgba(0, 0, 0, 0.2);
}

.main__part_2 li a:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);
}

.main__part_2 h2 {
  text-align: start;
  margin: 50px 0px 30px 21px;
  font-size: 24px;
  font-weight: 700;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  max-width: 480px;
  text-align: center;
}

header {
  position: relative;
  margin: 23px 0px 12px 0px;
}

header .header__arrow_icon {
  color: #353535;
  position: absolute;
  left: 0px;
  padding: 22px;
  display: none;
}

header .header__arrow_icon i {
  font-size: 20px;
  color: #353535;
}

header .header__logo img {
  width: 90%;
}

.main__search_bar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), color-stop(15%, #EAEAEA), to(#EAEAEA));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), #EAEAEA 15%, #EAEAEA);
  padding: 15px 0px 10px 0px;
}

.main__search_bar i {
  color: #353535;
  font-size: 18px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  padding-left: 45px;
}

.main__search_bar input {
  justify-items: start;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: #353535;
  padding: 10px 0px;
  padding-left: 15px;
  background-color: #EAEAEA;
}

.main__search_bar ::-webkit-input-placeholder {
  color: #353535;
  font-family: inherit;
}

.main__search_bar :-ms-input-placeholder {
  color: #353535;
  font-family: inherit;
}

.main__search_bar ::-ms-input-placeholder {
  color: #353535;
  font-family: inherit;
}

.main__search_bar ::placeholder {
  color: #353535;
  font-family: inherit;
}

.main__part_1 {
  background-color: #F6F6F6;
  padding: 20px 0px 80px 0px;
}

.main__part_1 h1 {
  padding-top: 28px;
  font-size: 24px;
  font-weight: 700;
}

.main__part_1 h2 {
  font-size: 18px;
  margin: 22px 0px 45px 0px;
}

.button {
  position: relative;
}

.button p {
  font-size: 16px;
  font-weight: 500;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 15px 22px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  border-radius: 30px;
}

.button__overlay {
  position: absolute;
  background-color: #FFF;
  border-radius: 30px;
  padding: 25px 110px;
  bottom: 0px;
  left: 130px;
  opacity: 0;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  cursor: pointer;
}

.button__overlay:hover {
  opacity: 0.2;
  -webkit-box-shadow: 0px 5px 8px 0px #000;
          box-shadow: 0px 5px 8px 0px #000;
}

.main__part_2 {
  width: 100%;
}

.main__part_2 ul {
  padding-left: 10px;
}

.main__part_2 li a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 73px 1fr;
      grid-template-columns: 73px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: #F6F6F6;
  border-radius: 20px;
  position: relative;
  margin: 0px 5% 20px 5%;
}

.main__part_2 li a:hover {
  background-color: #f5edff;
}

.main__part_2 li a:hover .menu__icon {
  color: #9356DC;
}

.main__part_2 li h3 {
  color: #000;
  font-weight: 500;
  text-align: start;
  padding: 30px 0px 24px 0px;
}

.menu__num_circle {
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  position: absolute;
  left: -12px;
  bottom: 23px;
}

.menu__icon {
  color: #7E7E7E;
  font-size: 18px;
  margin: 7px 0px 0px 10px;
}
/*# sourceMappingURL=style.css.map */