/* @import "./_mixins"; */
@import "scss/_placeholders";
@import "scss/_variables";

*{
  @extend %reset;
  
}
body{
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  max-width: 480px;
  text-align: center;
}

// header
header{
  position: relative;
  @extend %flex_center;
  margin: 23px 0px 12px 0px;

  .header__arrow_icon{
    color: $coul_txt;
    position: absolute;
    left: 0px;
    padding: 22px;
    display: none;
    
    i{
      font-size: 20px;
      color: $coul_txt;
    }
  }
  .header__logo{
    img{
      width: 90%;
    }
  }
}
// main
.main__search_bar{
  @extend %flex_center;
  background-image: linear-gradient(to bottom,$noir_transp, $bg_gris_1 15%,$bg_gris_1);
  padding: 15px 0px 10px 0px;
  
  i{
    color: $coul_txt;
    font-size: 18px; 
    transform: translateY(-2px);
    padding-left: 45px;

  }
  input{
    justify-items: start;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    color: $coul_txt;
    padding: 10px 0px;
    padding-left: 15px;
    background-color: $bg_gris_1;
  }
  ::placeholder{
    color: $coul_txt;
    font-family: inherit;    
  }
}
.main__part_1{
  background-color: $bg_gris_2;
  padding: 20px 0px 80px 0px;
  h1{
    padding-top: 28px;
    font-size: 24px;
    font-weight: 700;
  }
  h2{
    font-size: 18px;
    margin: 22px 0px 45px 0px;
  }
}
.button{
  position: relative;
  
  p{
    font-size: 16px;
    font-weight: 500;
    color: white;
    width: fit-content;
    margin: auto;
    padding: 15px 22px;
    background: linear-gradient(180deg, $coul_second,$coul_prim);
    border-radius: 30px;
    @extend %shadow;
    
    }
  }
  .button__overlay{
    position: absolute;
    background-color: #FFF;
    border-radius: 30px;
    padding: 25px 110px;  
    bottom: 0px;
    left: 130px;
    opacity: 0;
    transition-duration: .2s;
    cursor: pointer;
    &:hover{
      opacity: 0.2;
      box-shadow: 0px 5px 8px 0px #000;
    }
}
.main__part_2{
  width: 100%;
  h2{
    @extend %article__titres;
    
  }
  ul{
    padding-left: 10px;
  }
  li{
    a{
      display: grid;
      grid-template-columns: 73px 1fr;
      align-items: center;
      background-color: $bg_gris_2;
      border-radius: 20px;
      position: relative;
      margin: 0px 5% 20px 5%;
      @extend %shadow;
      &:hover {
        background-color: $coul_hover_1;
        @extend %hover__shadow;
      }
      &:hover .menu__icon{
        color: $coul_prim;
      }
    }
    h3{
      color: #000;
      font-weight: 500;
      text-align: start;
      padding: 30px 0px 24px 0px;
    }
  }
}
.menu__num_circle{
  color: #FFF;
  font-weight: 400;
  font-size: 14px;
  background-color: $coul_prim;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  position: absolute;
  left: -12px;
  bottom: 23px;
}
.menu__icon{
  color: $coul_icon;
  font-size: 18px;
  margin: 7px 0px 0px 10px;
}





footer{
  text-align: start;
  background-color: $coul_txt;
  bottom: 0;
  color: #FFF;
  h3{
    font-family: $font-spe;
    margin-bottom: 20px;
  }
  .footer__liste{
    margin: 0px 5%;
    padding: 25px 0px;
  }
  li{
    margin-bottom: 10px;
  }
  a{
    color: #FFF;
    font-family: $font;
    i{
      font-size: 12px;
      margin-right: 10px;
    }
  }
  .fa-hands-helping{
    font-size: 10px;
    margin-right: 7px;
  }
}
