// LOADER
/* animation opacite loader */
@keyframes opacite_loader{
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(-1440px);
  }
}
/* animation rotation anneau loader */
@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(360deg);
  }
}
@keyframes scale{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  50%{
    transform: scale(1);
  }
  75%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}
// ACCUEIL
/* animation hover coeur dégradé */
@keyframes opacity_heart_gradient{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
/* animation hover coeur au bord noir */
@keyframes opacity_heart_stroke{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
// MENU
/* rotation icone check */
@keyframes check_rotation{
  0%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
/* slide du check_container vert*/
@keyframes check_slide{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
/* translate du prix*/
@keyframes price_translate{
  0%{
    transform: translateX(70px);
  }
  100%{
    transform: translateX(0px);
  }
}