// fonts
$font:'Roboto', sans-serif;
$font-spe: 'Shrikhand', cursive;

//couleurs principales
$coul-prim:#9356DC;
$coul-second: #FF79DA;
$coul-ter: #99E2D0;

//couleurs
$bg_gris_1: #EAEAEA;
$bg_gris_2: #F6F6F6;
$coul_icon: #E7E7E7;
$coul_hover_1: #F5EDFF;
$coul_green_1: #99E2D0;

//textes
$coul_txt: #353535;
$txt_green_1: #008766;