// fonts
$font:'Roboto', sans-serif;
$font-spe: 'Shrikhand', cursive;

//couleurs principales
$coul_prim:#9356DC;
$coul_second: #FF79DA;
$coul_ter: #99E2D0;

//couleurs
$bg_gris_1: #EAEAEA;
$bg_gris_2: #F6F6F6;
$coul_icon: #7E7E7E;
$coul_hover_1: #f5edff;
$coul_green_1: #99E2D0;
 
//transparence
 $noir_transp:rgba(0, 0, 0, 0.2);

 //textes
$coul_txt: #353535;
$txt_green_1: #008766;